.css-13kq0sv-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall{
    height: 20px;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root{
    top: -10px!important;
    font-size: 14px!important;
}
.css-13kq0sv-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall .MuiAutocomplete-input {
    font-size: 8px!important;
}
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 14px;
}

.css-ptiqhd-MuiSvgIcon-root, .css-i4bv87-MuiSvgIcon-root {
    width: 10px!important;
    height: 10px!important;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-13kq0sv-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 32px!important;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-13kq0sv-MuiAutocomplete-root .MuiAutocomplete-inputRoot{
    padding-left: 0!important;
}

.boxNavBarStyle{
    width: 94%;
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 1.5% 3% 1%;
    border-bottom: solid black 1px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.751);
    z-index: 10;
}  

.css-13kq0sv-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
    background: white;
}

.titleNavBarStyle {
    font-size: 12px!important;
    width: 15%;
    text-align: center;
    cursor: pointer;
    color: black;
}

.text-decoration {    
    text-decoration: none!important;
    width: fit-content;
}

.text-decoration-alt {    
    text-decoration: none!important;
    width: fit-content;
    /* position: absolute;
    top:0;
    right: 3%; */
    margin: 0 auto;
    display: block;
    margin-bottom: 2%;
}

.autocompleteNavBarStyle {
    width: 40%;
    padding-top: 1%;
    font-size: 1vw!important;
}

.css-b7k0tb-MuiAutocomplete-listbox .MuiAutocomplete-option{
    min-height: 20px!important;
}

.css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
    font-size: 8px!important;
}

.favBtnStyle {
    font-size: 6px!important;
    font-weight: bold!important;
    height: 18px;
    margin-top: 5px!important;
    padding-left: 0!important;
    padding-right: 0!important;
    color:#ff914d!important;
    border-color: #ff914d!important;
}

.logoMenu{
    width: 135px;
    margin-top:1%!important;
}

.boxAutoFavStyle{
    margin-top: -10px;
}